.places {
  width: 77%;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .places {
    width: 92%;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    width: 95%;
  }
}

@media all and (max-width: 600px) {
  .places {
    width: 100%;
  }
}
