.header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative; /* это свойство для того, чтобы лого абсолютно позиционировалось относительно родителя (не уверен, что это лучший вариант) */
  width: 90%;
  height: 52px;
  margin: 0 auto;
}

@media all and (max-width: 768px) {
  .header {
    height: 42px;
  }
}
