.lead__subtitle {
  max-width: 640px;
  margin: 32px 0 64px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
}

@media all and (max-width: 740px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    max-width: 288px;
    margin: 16px 0 40px;
  }

}
