.lead__caption {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  margin: 8px 0 0;
  text-transform: uppercase;
  color: white;
  align-self: flex-start;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: 0.15em;
}

@media all and (max-width: 768px) {
  .lead__caption {
    width: 90%;
    align-self: auto;
  }
}
